{% assign xData = '' %}
{% assign xInit = '' %}

{% if componentData == true %} 
  {% assign xData = 'componentData()' %}
  {% assign xInit = 'init()' %}
{% endif %}

<!DOCTYPE html>
<html class="text-gray-900 antialiased leading-tight" lang="en">
  <head>
    {% include "partials/site-head.html" %}
  </head>
  <body
    class="min-h-screen bg-white"
    data-env="{{ node.env }}"
    x-data="{{ xData }}"
    x-init="{{ xInit }}"
  >
    {% include "partials/site-header.html" %}

    <div class="py-10">
      {{ content }}
    </div>

    <!-- {% include "partials/banner.html" %} -->

    <script type="module" src="/scripts/index.js"></script>

  </body>
</html>
